@import "tailwindcss";

button {
    @apply my-1 bg-blue-500 hover:bg-blue-600 border border-blue-300 min-w-[120px] text-white rounded-sm px-4 py-1;
}

a {
    @apply hover:underline
}

.active {
    @apply font-bold;
}
