@import "tailwindcss";

button {
    @apply my-1 bg-blue-500 hover:bg-blue-600 border border-blue-300 min-w-[120px] text-white rounded-sm px-4 py-1;
}

a {
    @apply hover:underline
}

.active {
    @apply font-bold;
}

input {
    @apply border border-gray-200 px-2 py-1 bg-gray-100
}